#############################################
# Netlify (frontend) environment template
#############################################

# --- Runtime ---
NODE_ENV=production

# --- API access ---
NEXT_PUBLIC_BACKEND_URL=https://tccdeploy-production.up.railway.app/
# NEXT_PUBLIC_API_BASE_URL=https://seu-backend.up.railway.app
